.u-section-1 .u-sheet-1 {
  min-height: 551px;
}

.u-section-1 .u-product-1 {
  min-height: 531px;
  margin-top: 0;
  margin-bottom: 20px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-gallery-1 {
  width: 598px;
  height: 415px;
  grid-gap: 10px 10px;
  margin: 28px auto 0 11px;
}

.u-section-1 .u-gallery-inner-1 {
  background-image: url("/images/render4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-1 {
  margin: -415px 278px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 19px 186px 0 auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-product-1 {
    margin-bottom: -68px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-product-1 {
    margin-bottom: 20px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 88px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2 .u-product-1 {
  min-height: 523px;
  margin-top: 10px;
  margin-bottom: 17px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 95px auto 0 186px;
}

.u-section-2 .u-text-2 {
  margin: 28px auto 0 186px;
}

.u-section-2 .u-gallery-1 {
  width: 333px;
  height: 388px;
  grid-gap: 10px 10px;
  margin: -216px 242px 0 auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 140px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 140px;
  }

  .u-section-2 .u-gallery-1 {
    margin-right: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 88px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-2 .u-gallery-1 {
    margin-right: 7px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 350px;
}

.u-section-3 .u-product-1 {
  min-height: 636px;
  height: auto;
  margin: 0 auto 0 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 58px 307px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 19px 186px 0 auto;
}

.u-section-3 .u-gallery-1 {
  width: 463px;
  height: 384px;
  grid-gap: 10px 10px;
  margin: -178px auto 0 128px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-product-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 140px;
  }

  .u-section-3 .u-gallery-1 {
    margin-left: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 111px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  margin: 24px auto 0 151px;
}

.u-section-4 .u-text-2 {
  width: 838px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 95px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}