.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-text-1 {
  margin: 41px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 95px auto 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: 41px auto 0 136px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0;
}

.u-section-1 .u-image-3 {
  width: 201px;
  height: 201px;
  margin: -200px 133px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 149px auto 21px;
}